@page "/libraryMangaInformation"

@attribute [AllowAnonymous]

@using BooksAPI.FE.Constants
@using BooksAPI.FE.Contracts.Author
@using BooksAPI.FE.Contracts.LibraryManga
@using BooksAPI.FE.Extensions
@using BooksAPI.FE.Interfaces
@using BooksAPI.FE.Util
@using Microsoft.IdentityModel.Tokens

@inject ILibraryMangaService LibraryMangaService;
@inject NavigationManager NavigationManager;
<h3 class="text-center">Information</h3>

@if (_error)
{
    <MudGrid Justify="Justify.Center">
        <MudItem md="4" xs="4">
            <MudAlert Severity="Severity.Error" ShowCloseIcon="true" CloseIconClicked="(() => CloseAlert())">
                Unable to get mangas. Please try again later.
            </MudAlert>
        </MudItem>
    </MudGrid>
}

@if (_isDataFetched && _manga is not null)
{
    <MudGrid Justify="Justify.Center">
        <MudItem xs="8">
            <MudCard Outlined="true" Class="mt-3">
                <MudCardContent>
                    <div class="d-flex flex-wrap mt-1">
                        <div class="d-flex flex-column align-items-start mr-2">
                            <MudImage Src="@GetImageUrl(_manga.MainImageUrl)" Width="250" Height="350" Class="border border-dark"/>
                        </div>
                        <div class="col ml-4">
                            <div class="row mb-2">
                                <MudText Typo="Typo.h6">Title in Romaji</MudText>
                                <MudText Typo="Typo.body1">@_manga.TitleRomaji</MudText>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <MudText Typo="Typo.h6">Type</MudText>
                                    <MudText Typo="Typo.body1">@LibraryMangaConstants.Type.GetLabelByKey(_manga.Type)</MudText>
                                </div>
                                <div class="col">
                                    <MudText Typo="Typo.h6">Demographic</MudText>
                                    <MudText Typo="Typo.body1">@_manga.DemographicType</MudText>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <MudText Typo="Typo.h6">Publishing status</MudText>
                                    <MudText Typo="Typo.body1">@LibraryMangaConstants.PublishingType.GetLabelByKey(_manga.PublishingStatus)</MudText>
                                </div>
                                <div class="col">
                                    <MudText Typo="Typo.h6">Total volumes</MudText>
                                    <MudText Typo="Typo.body1">@FormatterUtil.FormatTotalVolumes(_manga.TotalVolumes)</MudText>
                                </div>
                            </div>
                            <div class="row mb-2">
                                @if (!string.IsNullOrEmpty(_manga.TitleEnglish))
                                {
                                    <div class="col">
                                        <MudText Typo="Typo.h6">Title in English</MudText>
                                        <MudText Typo="Typo.body1">@_manga.TitleEnglish</MudText>
                                    </div>
                                }
                                <div class="col">
                                    <MudText Typo="Typo.h6">Title in Japanese</MudText>
                                    <MudText Typo="Typo.body1">@_manga.TitleJapanese</MudText>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <MudText Typo="Typo.h6">Authors</MudText>
                                    @foreach (AuthorResponse author in _manga.Authors)
                                    {
                                        <MudText Typo="Typo.body1">@FormatterUtil.FormatAuthor(author)</MudText>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-1">
                        <MudText Typo="Typo.h6" Class="mb-1">Synopsis</MudText>
                        <MudText Typo="Typo.body1">@_manga.Synopsis</MudText>
                    </div>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>
}
else if (!_isDataFetched)
{
    <div class="mt-4">
        <MudProgressLinear Color="Color.Primary" Size="Size.Large" Indeterminate="true" Class="my-7"/>
    </div>
}

@code {

    private int _id;

    private LibraryMangaResponse? _manga;

    private bool _shouldRender = false;
    private bool _error = false;
    private bool _isDataFetched = false;

    protected override bool ShouldRender() => _shouldRender;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            NavigationManager.GetQueryString<int>("libraryMangaId", out _id);

            _manga = await LibraryMangaService.GetManga(_id);
            _shouldRender = true;
            _isDataFetched = true;

            StateHasChanged();
        }
        catch (Exception e)
        {
            _error = true;
            _shouldRender = true;
            _isDataFetched = true;

            StateHasChanged();
        }
    }

    private string GetImageUrl(string? url)
    {
        if (string.IsNullOrEmpty(url))
        {
            return LibraryMangaConstants.ImagePlaceHolder;
        }

        return url;
    }

    private void CloseAlert()
    {
        _error = false;
        StateHasChanged();
    }


}