@page "/libraryManga/{pageNumber:int}"
@attribute [AllowAnonymous]

@using BooksAPI.FE.Contracts.Author
@using BooksAPI.FE.Contracts.LibraryManga
@using BooksAPI.FE.Interfaces
@inject ILibraryMangaService LibraryMangaService;
@inject IJSRuntime JsRuntime;
@inject NavigationManager NavigationManager;

<PageTitle>LibraryManga</PageTitle>

<h3 style="text-align: center">All Mangas</h3>
@if (_isDataFetched)
{
    @if (_error)
    {
        <MudGrid Justify="Justify.Center">
            <MudItem md="4" xs="4">
                <MudAlert Severity="Severity.Error" ShowCloseIcon="true" CloseIconClicked="(() => CloseAlert())">
                    Unable to get mangas. Please try again later.
                </MudAlert>
            </MudItem>
        </MudGrid>
    }
    else
    {
        <MudTable Items="_mangas">
            <HeaderContent>
                <MudTh>Cover</MudTh>
                <MudTh>Title</MudTh>
                <MudTh>Authors</MudTh>
                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Cover" Style="width: 200px; height: 280px;">
                    <MudImage Src="@context.MainImageUrl" Width="200" Height="280"></MudImage>
                </MudTd>
                <MudTd DataLabel="Title" Class="w-50">
                    <MudText Typo="Typo.h6">@context.Title</MudText>
                    <MudText Typo="Typo.body1">Total volumes: @FormatTotalVolumes(context.TotalVolumes)</MudText>
                    <MudText Typo="Typo.body1">Publishing status: @FormatPublishingStatus(context.PublishingStatus)</MudText>
                    <MudText Typo="Typo.body1">Demographic type: @context.DemographicType</MudText>
                    <MudText Typo="Typo.body1">Type: @FormatType(context.Type)</MudText>
                </MudTd>
                <MudTd DataLabel="Authors">
                    @foreach (AuthorResponse author in context.Authors)
                    {
                        <MudText Typo="Typo.body1" Class="mt-1"> @FormatAuthor(author)</MudText>
                    }
                </MudTd>
                <MudTd DataLabel="Actions" Style="width: 15% !important">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary"
                               OnClick="@(() => AddToCollectionAction())">
                        Add to collection
                    </MudButton>
                </MudTd>
            </RowTemplate>
        </MudTable>

        <div class="d-flex justify-content-center flex-row mt-5">
            @if (PageNumber != 1)
            {
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="mr-2" OnClick="@(() => PageButtons(PageNumber - 1))">Load previous 15</MudButton>
            }
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => PageButtons(PageNumber + 1))">Load next 15</MudButton>
        </div>
    }
}
else
{
    <div class="mt-4">
        <MudProgressLinear Color="Color.Primary" Size="Size.Large" Indeterminate="true" Class="my-7"/>
    </div>
}

@code {

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    [Parameter]
    public int PageNumber { get; set; }

    private IEnumerable<LibraryMangaResponse>? _mangas = Array.Empty<LibraryMangaResponse>();

    private bool _shouldRender = false;
    private bool _error = false;
    private const int Entries = 15;
    private bool _isDataFetched = false;

    protected override bool ShouldRender() => _shouldRender;

    protected override async Task OnInitializedAsync()
    {
        await GetMangas(PageNumber);
        _isDataFetched = true;
    }


    private async Task GetMangas(int page)
    {
        try
        {
            _mangas = await LibraryMangaService.GetMangasForPage(page, Entries);
            _shouldRender = true;
            NavigationManager.NavigateTo($"/libraryManga/{page}");
        }
        catch (Exception e)
        {
            _error = true;
            _shouldRender = true;
        }
    }

    private async Task PageButtons(int page)
    {
        PageNumber = page;
        await GetMangas(page);
        await JsRuntime.InvokeVoidAsync("window.scrollTo", 0, 0);
        StateHasChanged();
    }

    private void CloseAlert()
    {
        _error = false;
        StateHasChanged();
    }

    private string FormatPublishingStatus(string status)
    {
        if ("OnHiatus" == status)
        {
            return "On Hiatus";
        }

        return status;
    }

    private string FormatType(string type)
    {
        if ("LightNovel" == type)
        {
            return "Light novel";
        }

        if ("OneShot" == type)
        {
            return "One shot";
        }

        return type;
    }

    private string FormatTotalVolumes(int? totalVolumes)
    {
        if (totalVolumes is null)
        {
            return "(?) volumes";
        }

        return $"{totalVolumes} volumes";
    }

    private string FormatAuthor(AuthorResponse author)
    {
        string role = "";
        if (author.Role == "StoryAndArt")
        {
            role = "Story & Art";
        }
        else role = author.Role;

        string result = $"{author.FirstName} {author.LastName}: {role}";
        return result;
    }

    private async Task AddToCollectionAction()
    {
        AuthenticationState state = await authenticationState;

        if (state.User.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("orders");
        }
        else NavigationManager.NavigateTo("login");
    }

}