@page "/libraryMangas/{pageNumber:int}"
@using BooksAPI.FE.Constants
@using BooksAPI.FE.Contracts.LibraryManga
@using BooksAPI.FE.Interfaces

@attribute [AllowAnonymous]

@inject ILibraryMangaService LibraryMangaService;
@inject NavigationManager NavigationManager;
@inject IJSRuntime JsRuntime;

<PageTitle>Library Manga</PageTitle>

<h3 class="text-center" id="top">All Mangas</h3>
@if (_isDataFetched)
{
    @if (_error)
    {
        <MudGrid Justify="Justify.Center">
            <MudItem md="4" xs="4">
                <MudAlert Severity="Severity.Error" ShowCloseIcon="true" CloseIconClicked="(() => CloseAlert())">
                    Unable to get manga. Please try again later.
                </MudAlert>
            </MudItem>
        </MudGrid>
    }
    else
    {
        <AuthorizeView Policy="@ApplicationConstants.PolicyNames.AdminRolePolicyName">
            <Authorized>
                <div class="d-flex justify-content-end mr-5">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => NavigationManager.NavigateTo("createLibraryManga"))">Add new entry</MudButton>
                </div>
            </Authorized>
        </AuthorizeView>

        <div class="d-flex justify-content-center flex-row mb-5">
            @if (PageNumber != 1)
            {
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="mr-2" OnClick="@(() => PageButtons(PageNumber - 1))">Load previous @Entries</MudButton>
            }
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => PageButtons(PageNumber + 1))" Class="">Load next @Entries</MudButton>
        </div>

        <LibraryMangaTable Mangas="_mangas"/>

        <div class="d-flex justify-content-center flex-row mt-5">
            @if (PageNumber != 1)
            {
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="mr-2" OnClick="@(() => PageButtons(PageNumber - 1))">Load previous @Entries</MudButton>
            }
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => PageButtons(PageNumber + 1))">Load next @Entries</MudButton>
        </div>
    }
}
else
{
    <div class="mt-4">
        <MudProgressLinear Color="Color.Primary" Size="Size.Large" Indeterminate="true" Class="my-7"/>
    </div>
}

@code {

    [CascadingParameter]
    private Task<AuthenticationState>? AuthenticationState { get; set; }

    [Parameter]
    public int PageNumber { get; set; }

    private List<LibraryMangaResponse>? _mangas = new();

    private bool _shouldRender = false;
    private bool _error = false;
    private const int Entries = 25;
    private bool _isDataFetched = false;

    protected override bool ShouldRender() => _shouldRender;

    protected override async Task OnInitializedAsync()
    {
        await GetMangas(PageNumber);
        _isDataFetched = true;
    }


    private async Task GetMangas(int page)
    {
        try
        {
            _mangas = await LibraryMangaService.GetMangasForPage(page, Entries);
            _shouldRender = true;
        }
        catch (Exception e)
        {
            _error = true;
            _shouldRender = true;
        }
    }

    private async Task PageButtons(int page)
    {
        PageNumber = page;
        await GetMangas(page);
        await JsRuntime.InvokeVoidAsync("window.scrollToTop");
        NavigationManager.NavigateTo($"/libraryManga/{page}");
        StateHasChanged();
    }

    private void CloseAlert()
    {
        _error = false;
        StateHasChanged();
    }


}