@page "/createLibraryManga"
@page "/updateLibraryManga"

@using System.Text.Json
@using BooksAPI.FE.Authentication
@using BooksAPI.FE.Constants
@using BooksAPI.FE.Extensions
@using BooksAPI.FE.Interfaces
@using BooksAPI.FE.Model

@attribute [Authorize(Policy = ApplicationConstants.PolicyNames.AdminRolePolicyName)]

@inject ILibraryMangaService LibraryMangaService;
@inject IJSRuntime JsRuntime;
@inject NavigationManager NavigationManager;
@inject AuthenticationStateProvider AuthenticationStateProvider;

<PageTitle>Create</PageTitle>

<h3 class="text-center">
    @(IsCreate ? "Create a new library manga" : "Update library manga")
</h3>

@if (_error)
{
    <MudGrid Justify="Justify.Center">
        <MudItem md="4" xs="4">
            <MudAlert Severity="Severity.Error" ShowCloseIcon="true" CloseIconClicked="(() => CloseAlert())">
                @(IsCreate ? "Unable to create manga. Try again later" : "Unable to update manga. Try again later")
            </MudAlert>
        </MudItem>
    </MudGrid>
}

@if (_createSuccess)
{
    <MudGrid Justify="Justify.Center">
        <MudItem md="4" xs="4">
            <MudAlert Severity="Severity.Info" ShowCloseIcon="true" CloseIconClicked="(() => CloseAlert())">
                Create successful
            </MudAlert>
        </MudItem>
    </MudGrid>
}

<EditForm Model="_model" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator/>

    @if (context.GetValidationMessages().Count() != 0)
    {
        <MudGrid Justify="Justify.Center">
            <MudItem md="4" xs="4">
                <MudAlert Severity="Severity.Error">
                    <ValidationSummary/>
                </MudAlert>
            </MudItem>
        </MudGrid>
    }
    <MudGrid Justify="Justify.Center">
        <MudItem xs="7">
            <MudTextField T="string" Label="Title" InputType="InputType.Text" Variant="Variant.Text"
                          @bind-Value="_model.Title"/>
            <div class="d-flex col-12">
                <MudSelect T="string" Label="Demographic type" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter" Class="mr-3"
                           @bind-Value="_model.DemographicType">
                    <MudSelectItem Value="@LibraryMangaConstants.DemographicType.GetLabelByKey(LibraryMangaConstants.DemographicType.Shounen)"/>
                    <MudSelectItem Value="@LibraryMangaConstants.DemographicType.GetLabelByKey(LibraryMangaConstants.DemographicType.Shoujo)"/>
                    <MudSelectItem Value="@LibraryMangaConstants.DemographicType.GetLabelByKey(LibraryMangaConstants.DemographicType.Seinen)"/>
                    <MudSelectItem Value="@LibraryMangaConstants.DemographicType.GetLabelByKey(LibraryMangaConstants.DemographicType.Josei)"/>
                </MudSelect>

                <MudSelect T="string" Label="Type" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter" Class="mr-3"
                           @bind-Value="_model.Type">
                    <MudSelectItem Value="@LibraryMangaConstants.Type.GetLabelByKey(LibraryMangaConstants.Type.Manga)"/>
                    <MudSelectItem Value="@LibraryMangaConstants.Type.GetLabelByKey(LibraryMangaConstants.Type.LightNovel)"/>
                    <MudSelectItem Value="@LibraryMangaConstants.Type.GetLabelByKey(LibraryMangaConstants.Type.OneShot)"/>
                </MudSelect>

                <MudSelect T="string" Label="Publishing status" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter"
                           @bind-Value="_model.PublishingStatus">
                    <MudSelectItem Value="@LibraryMangaConstants.PublishingType.GetLabelByKey(LibraryMangaConstants.PublishingType.Publishing)"/>
                    <MudSelectItem Value="@LibraryMangaConstants.PublishingType.GetLabelByKey(LibraryMangaConstants.PublishingType.Finished)"/>
                    <MudSelectItem Value="@LibraryMangaConstants.PublishingType.GetLabelByKey(LibraryMangaConstants.PublishingType.OnHiatus)"/>
                </MudSelect>
            </div>

            <div class="d-flex col-12">
                <MudTextField T="string" Label="First volume image URL" Variant="Variant.Text" InputType="InputType.Text" Class="mr-3"
                              @bind-Value="_model.MainImageUrl"/>
                <MudNumericField T="int?" HideSpinButtons="true" Min="0" Label="Total volumes" Variant="Variant.Text"
                              @bind-Value="_model.TotalVolumes"/>
            </div>

            <MudText Typo="Typo.h6" Class="mt-3 text-center">Authors</MudText>

            @foreach (AuthorModel modelAuthor in _model.Authors)
            {
                <div class="d-flex align-items-end col-12 mb-3">
                    <MudTextField T="string" Label="First name" Variant="Variant.Text" InputType="InputType.Text" Class="mr-4"
                                  @bind-Value="modelAuthor.FirstName"/>
                    <MudTextField T="string" Label="Last name" Variant="Variant.Text" InputType="InputType.Text" Class="mr-4"
                                  @bind-Value="modelAuthor.LastName"/>
                    <MudSelect T="string" Label="Role" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter" Class="mr-4"
                               @bind-Value="modelAuthor.Role">
                        <MudSelectItem Value="@AuthorConstants.AuthorRole.GetLabelByKey(AuthorConstants.AuthorRole.Story)"/>
                        <MudSelectItem Value="@AuthorConstants.AuthorRole.GetLabelByKey(AuthorConstants.AuthorRole.Art)"/>
                        <MudSelectItem Value="@AuthorConstants.AuthorRole.GetLabelByKey(AuthorConstants.AuthorRole.StoryAndArt)"/>
                    </MudSelect>
                    <MudButton Variant="Variant.Filled" Class="h-75" Color="Color.Primary" OnClick="@(() => RemoveAuthor(modelAuthor))">Remove author</MudButton>
                </div>
            }
            <div class="d-flex justify-content-center">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="AddAuthor">Add author</MudButton>
            </div>
            <br/>
            <br/>
            <div class="d-flex justify-content-center">
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">@(IsCreate ? "Create" : "Update")</MudButton>
            </div>
        </MudItem>
    </MudGrid>

</EditForm>

@code {
    private bool IsCreate;

    private LibraryMangaModel _model = new();

    private bool _shouldRender = false;
    protected override bool ShouldRender() => _shouldRender;

    private bool _error = false;
    private bool _createSuccess = false;

    private string _token;
    private string _refreshToken;

    private int _id;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            string[] tokens = await JsRuntime.InvokeAsync<string[]>("getTokens");
            _token = tokens[0];
            _refreshToken = tokens[1];

            NavigationManager.GetQueryString<int>("libraryMangaId", out _id);

            IsCreate = _id == 0;

            if (!IsCreate)
            {
                _model = await LibraryMangaService.GetMangaModel(_id);
                FormatUpdateModel();
            }

            _shouldRender = true;
            StateHasChanged();
        }
        catch (Exception e)
        {
            _error = true;
            StateHasChanged();
        }
    }

    private async void OnValidSubmit()
    {
        FormatCreateModel();
        try
        {
            string serialize = JsonSerializer.Serialize(_model);
            Console.WriteLine(serialize);

            return;
            if (IsCreate)
            {
                _createSuccess = await LibraryMangaService.CreateManga(_model, _token, _refreshToken);
                StateHasChanged();
            }
            else
            {
                bool updateSuccess = await LibraryMangaService.UpdateManga(_id, _model, _token, _refreshToken);
            
                if (updateSuccess)
                {
                    NavigationManager.NavigateTo("/libraryManga/1");
                }
            }
        }
        catch (InvalidOperationException e)
        {
            ((CustomAuthenticationStateProvider)AuthenticationStateProvider).UpdateUserState("");

            NavigationManager.NavigateTo("/searchLibraryManga", true);
        }
        catch (Exception e)
        {
            _error = true;
        }
    }

    private void FormatCreateModel()
    {
        _model.DemographicType = LibraryMangaConstants.DemographicType.GetKeyByLabel(_model.DemographicType);
        _model.Type = LibraryMangaConstants.Type.GetKeyByLabel(_model.Type);
        _model.PublishingStatus = LibraryMangaConstants.PublishingType.GetKeyByLabel(_model.PublishingStatus);

        foreach (AuthorModel author in _model.Authors)
        {
            author.Role = AuthorConstants.AuthorRole.GetKeyByLabel(author.Role);
        }
    }

    private void FormatUpdateModel()
    {
        _model.DemographicType = LibraryMangaConstants.DemographicType.GetLabelByKey(_model.DemographicType);
        _model.Type = LibraryMangaConstants.Type.GetLabelByKey(_model.Type);
        _model.PublishingStatus = LibraryMangaConstants.PublishingType.GetLabelByKey(_model.PublishingStatus);

        foreach (AuthorModel author in _model.Authors)
        {
            author.Role = AuthorConstants.AuthorRole.GetLabelByKey(author.Role);
        }
    }

    private void RemoveAuthor(AuthorModel author)
    {
        _model.Authors.Remove(author);
        _shouldRender = true;
        StateHasChanged();
    }

    private void AddAuthor()
    {
        _model.Authors.Add(new AuthorModel());
        _shouldRender = true;
        StateHasChanged();
    }


    private void CloseAlert()
    {
        _error = false;
        StateHasChanged();
    }

}