@using System.Text.Json
@using System.Net
@using AutoMapper
@using BookAPI.Presentation.Contracts
@using BookAPI.Presentation.Contracts.Response.Comic
@using BookAPI.Presentation.Interfaces
@using BookAPI.Presentation.Models
@inject NavigationManager NavigationManager
@inject IMapper Mapper;
@inject IComicsService ComicsService;

@if (_error || _comics is null)
{
    <h3>Unable to get comics. Please try again later.</h3>
}
@if (!_comics.Any())
{
    <h3>No comics in data.</h3>
}
else
{
    <div class="row">
        @foreach (var comic in _comics.Reverse())
        {
            <div class="col-3">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title text-center">@comic.Title</h5>
                        <h5 class="card-subtitle text-center">Author: @comic.Author</h5>
                    </div>
                    <div class="card-body">
                        <h5>Total volumes: @comic.TotalVolumes</h5>
                        <h5>Publishing status: @comic.PublishingStatus</h5>
                        <h5>Demographic type: @comic.DemographicType</h5>
                        <h5>Reading status: @comic.ReadingStatus</h5>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary float-start" @onclick="() => ButtonHandler(comic.Id.ToString())">Update</button>
                        <button class="btn btn-primary float-end" @onclick="() => DeleteComic(comic.Id.ToString())">Delete</button>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    private IEnumerable<ComicsListElementModel>? _comics = Array.Empty<ComicsListElementModel>();
    private bool _shouldRender = false;
    private bool _error = false;

    protected override bool ShouldRender() => _shouldRender;

    private void ButtonHandler(String id)
    {
        NavigationManager.NavigateTo($"/updateComic/{id}");
    }

    private async Task DeleteComic(String id)
    {
        HttpResponseMessage httpResponseMessage = await ComicsService.DeleteComic(id);

        if (httpResponseMessage.IsSuccessStatusCode) //Refill the collection
        {
            await GetAllComics();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await GetAllComics();
    }


    private async Task GetAllComics()
    {
        HttpResponseMessage response = await ComicsService.GetAllComics();

        if (response.IsSuccessStatusCode)
        {
            using var responseStream = await response.Content.ReadAsStreamAsync();

            IEnumerable<GetComicResponse>? comics =
                await JsonSerializer.DeserializeAsync<IEnumerable<GetComicResponse>>(responseStream);

            if (comics is not null)
            {
                _comics = Mapper.Map<IEnumerable<ComicsListElementModel>>(comics);
            }

            _shouldRender = true;
        }
        else
        {
            _error = true;
            _shouldRender = true;
        }
    }

}